@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');

:root {
    --primary: #434343;
    --accent: #2a978b;
}

html, body {
    background: var(--primary);
    height: 100vh;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

